:root {
    --accent-color: #a83232;
    --secondary-text: #1f1f1f;
    --transition: all 0.3s linear;
    --radius: 0.25rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 2em;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--accent-color);
    text-transform: capitalize;
}

h2 {
    font-size: 1.5em;
    text-transform: capitalize;
}

h3 {
    font-size: 1.5em;
    color: var(--accent-color);
}

p {
    font-size: 1.25em;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.underline {
    width: 4em;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    background-color: var(--accent-color);
}

.item {
    width: 800px;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-img {
    width: 300px;
    height: 200px;
    border: 4px solid var(--accent-color);
    border-radius: 5px;
}

.item-underline {
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--secondary-text);
    opacity: 0.75;
    margin: 10px 0;
}

.item-textbox {
    margin-left: 20px;
    height: 200px;
}

.item-desc {
  width: 400px;
  text-align: left;
  text-transform: capitalize;
}

.textbox-header {
    display: flex;
    justify-content: space-between;
}

.btn-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: var(--accent-color);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}

.filter-btn:hover {
  background: var(--accent-color);
  color: white;
}

@media screen and (max-width: 700px) {
    .item-container {
        margin-top: 50px;
    }

    .item-textbox {
      margin-left: 0;
    }

    .item-desc {
      width: 300px;
    }
}
